body {
    margin: 0;
    font-family: "Segoe UI Black";
  }
  
  a {
    text-decoration: none;
  }
  
  .container {
    width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
  }
  
  .top-wrapper {
    padding: 70px 0px 170px 15px;
    background-image: url(https://1.bp.blogspot.com/-9aFkZXzwu3o/YF3RcMyLenI/AAAAAAAABOI/RyeTN6Wv2FARyEJT_4AT34w3_EmNkpLoQCLcBGAsYHQ/s16000/1233.PNG);
    background-size: cover;
    color: black;
    text-align: left;
  }
  
  .top-wrapper h1 {
    font-family: Playbill;
    opacity: 0.9;
    font-size: 100px;
    margin-bottom: 5px;
  }
  
  .top-wrapper p {
    opacity: 0.7;
    margin-bottom: 3px;
  }
  
  .btn-wrapper {
    margin: 20px 0;
  }
  
  .btn-wrapper p {
    margin: 10px 0;
  }
  
  .signup {
    background-color: #239b76;
  }
  
  .facebook {
    background-color: #3b5998;
    margin-right: 10px;
  }
  
  .twitter {
    background-color: #55acee;
  }
  
  .btn {
    padding: 12px 24px;
    color: white;
    display: inline-block;
    opacity: 0.8;
    border-radius: 4px;
  }
  
  .btn:hover {
    opacity: 1;
  }
  
  .fa {
    margin-right: 5px;
  }
  
  /* Tambahkan CSS untuk tag <header> */
  header {
    height:65px;
    width:100%;
    background-color:rgba(34, 49, 52, 0.9);
  }
  
  
  /* Tambahkan CSS untuk logo */
  .logo{
    width:124px;
    margin-top:20px;
  }
  
  .lesson-wrapper{
    font-size: 40px;
    margin-top: 10px;
    text-align: center;
  }
